[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dcard-spider = "*"
dcard = "*"
webdriver-manager = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.8"
